.picture-of-the-day {
    width: 100%;
    height: auto;
}

.picture-of-the-day-container {
    width: 30%;
}

@media only screen and (max-width: 768px)  {
    .picture-of-the-day-container {
        width: 100%;
    }
}

.picture-of-the-day-container a {
    display: flex;
    justify-content: center;
}