.search-container {
    width: 30%;
    margin: 0.5% 0%;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1%;
}

.search-label {
    display: flex;
    justify-content: space-between;
}

.search-label input {
    width: 70%;
}

.search-label div {
    width: 25%;
}

.searching {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .search-container {
        width: 100%;
    }

    .search-label input {
        width: 80%;
    }
}