.title-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 60px;
    width: 100%;
}

.title-bar a {
    color: white;
    text-decoration: none;
}